.contentMain {
	display: flex;
	width: 100%;
	height: 200px;
}
.contentButtonFilters {
	display: flex;
	width: 70%;
	height: 100%;
	flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.searchBar {
	display: flex;
    flex-direction: row;
	width: 20%;
	height: 100%;
    justify-content: center;
    align-items: center;
    
}


.selectTemperaments{
    height: 50px;
    
}

/* boton de restaurar */

.buttonReset {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  height: 34px;
  width: 112px;
  border: none;
  background: #ff362b34;
  border-radius: 20px;
  cursor: pointer;
}

.resetText {
  line-height: 20px;
  font-size: 17px;
  color: #FF342B;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.buttonReset:hover {
  background: #ff362b52;
}

.buttonReset:hover .svg-icon {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}