.contentMain {
	display: flex;
	width: 100%;
	height: 200px;
	margin-top: -2%;
}
.contentButtonFilters {
	display: flex;
	width: 70%;
	height: 100%;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.searchBar {
	display: flex;
	flex-direction: row;
	width: 20%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.selectedFilters{
  height: 50px;
  width: 100px;
  text-align: center;
  font-size: 15px;
  font-family:lemonDays,sans-serif;
  font-weight: 100;
  background-color:#a370f0;
  border-radius: 15px;
  color: white;
}

.selectedFilters option{
  font-size: 15px;
  color: black;
  
}
.selectedFilters:hover{
  color: black;
  background-color:#8842f0;
  cursor: pointer;
}



.typesFilter{
  font-family:lemonDays,sans-serif;
  font-size: 20px;
  font-weight: 100;
}


/* boton de crear */

.buttonCreate {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #725AC1;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #725AC1;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #725AC1;
}

.buttonCreate:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #725AC1;
}

.buttonCreate:active {
  transform: scale(0.9);
}

































/* boton de restaurar */

.buttonReset {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6px 12px;
	gap: 8px;
	height: 50px;
	width: 140px;
	border: none;
	background: #ff362b34;
	border-radius: 20px;
	cursor: pointer;
}

.resetText {
	line-height: 20px;
	font-size: 20px;
	color: #ff342b;
	font-family:lemonDays,sans-serif;
  font-weight: 100;
	letter-spacing: 1px;
}

.buttonReset:hover {
	background: #ff362b52;
}

.buttonReset:hover .svg-icon {
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(-360deg);
	}
}
