.content{
	width: 100%;
	height: 99.7vh;
	background: url('../../img/backgroundNotFound.png');
	background-attachment: fixed;
	background-size: 5%;
	background-repeat: repeatY;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentSecondary{
    width: 90%;
    height:90%;
    border: 1px solid red;
    overflow: hidden;
    border-radius: 40px;
    background: #a370f0;
    display: grid;
    grid-template-columns: 60% 40%;
}
.contentImage{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.imageDog{
    width: 100%;
    height: 100%;
}



















.buttonCreate {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #725AC1;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #725AC1;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #725AC1;
}

.buttonCreate:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #725AC1;
}

.buttonCreate:active {
  transform: scale(0.9);
}

