.content{
    width: 100%;
    height: 100%;
    /* background: url("../../../img/backgroundHome.jpg");
    background-size: contain;
    background-repeat: repeat; */
}

.titleSecond{
    text-align: center;
    font-family: adelia,sans-serif;
    margin-top: -1%;
}