.content {
	width: 100%;
	height: 101.4vh;
	margin-top: -3%;
	background: url('../../../img/LeandingPage.jpg');
	background-size: cover;
	background-attachment: fixed;
}

.titleMain {
	font-size: 60px;
	font-family: adelia, sans-serif;
	font-weight: 500;
	color: #5804d7;
	text-align: center;
	padding-top: 4%;
    text-shadow: 4px 4px 5px black;
}
.titleMain span{
    font-size: 110px;
    font-family: iconsDogs,sans-serif;
}
.titleMain:hover{
    color:#a370f0;
	transition: all 300ms;
}

.cssbuttonsIoButton {
	margin-top: 28%;
    margin-left: 45%;
	background: #5804d7;
	color: white;
	font-family: inherit;
	padding: 0.35em;
	padding-left: 1.2em;
	font-size: 17px;
	font-weight: 500;
	border-radius: 0.9em;
	border: none;
	letter-spacing: 0.05em;
	display: flex;
	align-items: center;
	box-shadow: inset 0 0 1.6em -0.6em #714da6;
	overflow: hidden;
	position: relative;
	height: 3.8em;
	padding-right: 3.3em;
}

.cssbuttonsIoButton .icon {
	background: white;
	margin-left: 1em;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3.2em;
	width: 2.2em;
	border-radius: 0.7em;
	box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
	right: 0.3em;
	transition: all 0.3s;
}

.cssbuttonsIoButton:hover .icon {
	width: calc(100% - 0.6em);
    cursor: pointer;
}

.cssbuttonsIoButton .icon svg {
	width: 1.1em;
	transition: transform 0.3s;
	color: #a370f0;
}

.cssbuttonsIoButton:hover .icon svg {
	transform: translateX(0.1em);
    cursor: pointer;
}

.cssbuttonsIoButton:active .icon {
	transform: scale(0.95);
}
